<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBirMtGnX-scqFZ6lZpTxKD6U-1ChUi_E4</string>
	<key>GCM_SENDER_ID</key>
	<string>109133858847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SIECapstoneTeam9.Child-Gun-Safety</string>
	<key>PROJECT_ID</key>
	<string>child-gun-safety</string>
	<key>STORAGE_BUCKET</key>
	<string>child-gun-safety.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109133858847:ios:23c5b1c0b2420e8ff7ed2a</string>
</dict>
</plist>